body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  
}

h1{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    
}
button{
    border-radius: 5px;
   
}
div{
    display: grid;
    justify-content: center;
    
}


#decrease{
    font-size: 2rem;
    margin-right: 1rem;
}
#increase{
    font-size: 2rem;
    margin-right: 1rem;
}

#container-span-button{
    display: flex;
    gap: 0.7rem;
}

#reset{
    font-size: 2rem;
}
p{
    text-align: center;
}